.computer{

  border-style: solid;
  margin:10px;
  padding-left: 10px;

}
.computerList{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.computerList > div {
  background-color: #f1f1f1;
  width: 300px;
}
.heading{

  display: grid;
  grid-template-columns: 10fr 1fr;
   background-color: red;
   width: 100%;
}

.navbarWannabe{
  display:grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  align-content: center;
   background-color: blue;
   width: 100%;
}


.navbarWannabe> div {

  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}

.hyperRick{
  text-align: center;


}
.App{
  display:grid;
  grid-template-columns:auto;

}

a{
  color:black;
  text-decoration: none;

}
